@using WSOA.Client.Shared.Buttons.Main
@using WSOA.Client.Shared.Buttons.Resources;
@using WSOA.Client.Shared.Loaders
@using WSOA.Shared.Resources;
@using WSOA.Shared.ViewModel;
@inherits TournamentDataLineComponent

<div class="container__main">
    @if (PresencePlayers.Any() || MaybePlayers.Any())
    {
        <div class="panelButtons__collapsable">
            @if (IsCollapse)
            {
                <img onclick="@SwitchCollapseState" src="images/chevron_up.png" />
            }
            else
            {
                <img onclick="@SwitchCollapseState" src="images/chevron_down.png" />
            }
        </div>
    }
    <div class="container__data-noCollapsable">
        <span>@Data.StartDate.ToString("dd MMMM yyyy HH:mm")</span>
        <span>@Data.Address</span>
        <span>@Data.BuyIn &euro;</span>
        <div class="container__data-presenceCounter">
            <div class="presenceCounter__presence">
                <span>@PresencePlayers.Count()</span>
                <img src="images/soldier_gun.png" />
            </div>
            <div class="presenceCounter__maybe">
                <span>@MaybePlayers.Count()</span>
                <img src="images/soldier_gun.png" />
            </div>
        </div>
    </div>
    @if (!IsCollapse)
    {
        <div class="container__data-collapsable">
            @if (PresencePlayers.Any())
            {
                <div class="container__data-players">
                    <span class="title">@PresenceStateResources.PRESENT_LABEL</span>
                    <div class="players__block">
                        @foreach (PlayerViewModel vm in PresencePlayers)
                        {
                            <div class="player__line">
                                <span>@vm.FirstName</span>
                                <span>@vm.LastName</span>
                            </div>
                        }
                    </div>
                </div>
            }
            @if (MaybePlayers.Any())
            {
                <div class="container__data-players">
                    <span class="title">@PresenceStateResources.MAYBE_LABEL</span>
                    <div class="players__block">
                        @foreach (PlayerViewModel vm in MaybePlayers)
                        {
                            <div class="player__line">
                                <span>@vm.FirstName</span>
                                <span>@vm.LastName</span>
                            </div>
                        }
                    </div>
                </div>
            }
        </div>
    }
    <div class="panelButtons__actions">
        @if (IsProcess)
        {
            <LineLoader Height="40" />
        }
        else
        {
            switch (Mode)
            {
                case TournamentActionMode.SIGN_UP:
                    if (SignUpForm.PresenceStateCode == null)
                    {
                        <button class="action present" type="button" onclick="@SignUpPresentTournament">@PresenceStateResources.PRESENT_LABEL</button>
                        <button class="action" type="button" onclick="@SignUpMaybeTournament">@PresenceStateResources.MAYBE_LABEL</button>
                        <button class="action absent" type="button" onclick="@SignUpAbsentTournament">@PresenceStateResources.ABSENT_LABEL</button>
                    }
                    else
                    {
                        <div class="presenceState__response">
                            <img class="presenceState__response-logo" src="images/calendar_response_event.png" />
                            <span class="presenceState__response-label">@PresenceStateResources.PRESENCE_LABELS_BY_CODE[SignUpForm.PresenceStateCode]</span>
                        </div>
                        <button class="action" type="button" onclick="@UpdateSignUpTournament">@ButtonLabelResources.UPDATE</button>
                    }
                    break;
                case TournamentActionMode.PLAY:
                    <MainButton IsPrimary="true" Label="Lancer" Type="button" OnClick="SelectPlayers" />
                    <MainButton Label="Modifier" Type="button" />
                    <MainButton Label="Supprimer" Type="button" />
                    break;
                default:
                    <span>Erreur : Mode non implementé. Contactez un administrateur</span>
                    break;
            }
        }
    </div>
</div>
