@page "/account/create/{LinkId:int}"
@using WSOA.Client.Pages.Account.Create.Components;
@using WSOA.Client.Pages.Account.Create.Resources;
@using WSOA.Client.Shared.Buttons.Main
@using WSOA.Client.Shared.Buttons.Resources;
@using WSOA.Client.Shared.Counters
@using WSOA.Client.Shared.Fields.Inputs.Text
@using WSOA.Client.Shared.Fields.Inputs.Password
@using WSOA.Client.Shared.Fields.Resources;
@using WSOA.Client.Shared.Forms
@using WSOA.Client.Shared.Loaders
@inherits AccountCreateComponent
@layout FullPageLayout

@if (IsLoading)
{
    <CardCoinLoader />
}
else
{
    <MultiPageForm Model="@AccountCreationFormVM"
               Title="@AccountCreateLabelResources.ACCOUNT_CREATION_TITLE"
               OnSubmit="CreateNewAccount()"
               MaxPages="2">
        <PageForms>
            <PageFormContainer PageForm="1">
                <Fields>
                    <TextInputField Label="@InputLabelResources.LAST_NAME"
                                @bind-InputValue="AccountCreationFormVM.LastName" />
                    <TextInputField Label="@InputLabelResources.FIRST_NAME"
                                @bind-InputValue="AccountCreationFormVM.FirstName" />
                    <TextInputField Label="@InputLabelResources.MAIL"
                                @bind-InputValue="AccountCreationFormVM.Email" />
                </Fields>
            </PageFormContainer>
            <PageFormContainer PageForm="2">
                <Fields>
                    <TextInputField Label="@InputLabelResources.LOGIN"
                                @bind-InputValue="AccountCreationFormVM.Login" />
                    <PasswordInputField Label="@InputLabelResources.PASSWORD"
                                    @bind-InputValue="AccountCreationFormVM.Password" />
                    <PasswordInputField Label="@InputLabelResources.PASSWORD_CONFIRMATION"
                                    @bind-InputValue="AccountCreationFormVM.PasswordConfirmation" />
                </Fields>
            </PageFormContainer>
        </PageForms>
    </MultiPageForm>
}
@*<div class="accountCreationForm_mainContainer">
    <span class="accountCreationForm_title">@AccountCreateLabelResources.ACCOUNT_CREATION_TITLE</span>
    <EditForm EditContext="@EditContext"
              OnSubmit="CreateNewAccount">
        @if (CurrentPage > 0)
        {
            <div class="accountCreationForm_formContainer-pageForm">
                <PageFormCounter MaxPages="2"
                             CurrentPageListener="@CurrentPage" />
                @if (CurrentPage == 1)
                {
                    <div class="accountCreationForm_formContainer-fields">
                        <TextInputField Label="@InputLabelResources.LAST_NAME"
                                @bind-InputValue="AccountCreationFormVM.LastName" />
                        <TextInputField Label="@InputLabelResources.FIRST_NAME"
                                @bind-InputValue="AccountCreationFormVM.FirstName" />
                        <TextInputField Label="@InputLabelResources.MAIL"
                                @bind-InputValue="AccountCreationFormVM.Email" />
                    </div>
                    <div class="accountCreationForm_formContainer-buttons">
                        <MainButton Label="@ButtonLabelResources.NEXT"
                            IsPrimary="true"
                            OnClick="NextPageForm" />
                    </div>
                }
                @if (CurrentPage == 2)
                {
                    <div class="accountCreationForm_formContainer-fields">
                        <TextInputField Label="@InputLabelResources.LOGIN"
                                @bind-InputValue="AccountCreationFormVM.Login" />
                        <PasswordInputField Label="@InputLabelResources.PASSWORD"
                                    @bind-InputValue="AccountCreationFormVM.Password" />
                        <PasswordInputField Label="@InputLabelResources.PASSWORD_CONFIRMATION"
                                    @bind-InputValue="AccountCreationFormVM.PasswordConfirmation" />
                    </div>
                    <div class="accountCreationForm_formContainer-buttons">
                        <MainButton IsPrimary="true"
                            Label="@ButtonLabelResources.SUBMIT"
                            Type="submit" />
                        <MainButton Label="@ButtonLabelResources.BACK"
                            OnClick="PreviousPageForm" />
                    </div>
                }
            </div>
        }
        @if (IsProcessing)
        {
            <CardLessCoinLoader />
        }
        @if (IsProcessDone)
        {
            <div class="accountCreationForm_formContainer-submitResult">
                <div class="accountCreationForm_formContainer-promptForm">
                    @if (IsSuccess)
                    {
                        <img class="promptForm_logoResult" src="images/success_logo.png" />
                    }
                    @if (!IsSuccess)
                    {
                        <img class="promptForm_logoResult" src="images/error_logo.png" />
                    }
                    @if (!string.IsNullOrWhiteSpace(ErrorMessage))
                    {
                        <span class="promptForm_msgResult error">@ErrorMessage</span>
                    }
                    @if (!string.IsNullOrWhiteSpace(WarningMessage))
                    {
                        <span class="promptForm_msgResult warning">@WarningMessage</span>
                    }
                </div>
                <div class="accountCreationForm_formContainer-buttons">
                    <MainButton Label="@ButtonLabelResources.BACK"
                            IsPrimary="true"
                            OnClick="RetryForm" />
                </div>
            </div>
        }
    </EditForm>
</div>*@
