@page "/account/invite/{SubSectionId:int}"
@using WSOA.Client.Pages.Account.Invite.Components;
@using WSOA.Client.Shared.Prompts.Form
@layout DownNavMenuLayout
@inherits InviteComponent

<div class="mainContainer">
    <span class="title">Inviter un nouvel utilisateur</span>
    <EditForm
        OnSubmit="CreateLinkAccountCreation"
        EditContext="@_editContext"
              style="background-color: #EDE8DF;
                    border-radius: 30px;
                    height: 79%;
                    width: 90%;
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    align-items: center;
    ">
        <div class="fields_container">
            <div class="field">
                <span>Label</span>
                <InputText
                    @bind-Value="_formVM.RecipientMail"
                    style="height: 50px;
                            border-radius: 10px;
                            border: 1px solid;"
                />
            </div>
            <div class="field">
                <span>Label</span>
                <InputSelect
                    @bind-Value="_formVM.ProfileCodeSelected"
                    style="height: 50px;
                            border-radius: 10px;
                            border: 1px solid;"
                >
                    @if (_isLoading)
                    {
                        <option value="">Chargement...</option>
                    }
                    else
                    {
                        @foreach (KeyValuePair<string, string> kvp in _inviteVM.ProfileLabelsByCode)
                        {
                            <option value="@kvp.Key">@kvp.Value</option>
                        }
                    }
                </InputSelect>
            </div>
        </div>
        <div class="buttons_panel">
            <button class="button main" type="submit">Submit</button>
            <button class="button">Button</button>
        </div>
        <PromptForm
            IsProcessingListener="@_isProcessing"
            IsProcessSuccessListener="@_isSuccessProcessing"
            ErrorMessageListerner="@_errorMessage"
            WarningMessageListerner="@_warningMessage"
        />
    </EditForm>
</div>
