@layout FullPageLayout
@page "/"
@page "/signIn/error/{ErrorMessage?}"
@using WSOA.Client.Pages.SignIn.Component;
@using WSOA.Client.Pages.SignIn.Resources;
@using WSOA.Client.Shared.Buttons.Main
@using WSOA.Client.Shared.Fields.Inputs.Password
@using WSOA.Client.Shared.Fields.Inputs.Text
@using WSOA.Client.Shared.Loaders
@using WSOA.Client.Shared.Prompts.Prompt
@using WSOA.Client.Shared.Resources;
@using WSOA.Shared.Resources;
@inherits SignInComponent

@if (_isLoading)
{
    <CardCoinLoader />
}
else
{
    <div class="signIn_mainContainer">
        <div class="signIn_borderLeft">
            <span>@_cardRightRenderObject.Value</span>
            <img class="signIn_borderLeft-logo" src="images/@_cardRightRenderObject.IconFileName" />
        </div>
        <div class="signIn_container">
            <img class="signIn_container-logo" src="images/main_logo.png" />
            <EditForm OnSubmit="SignIn"
                  EditContext="@_editContext"
                  style="
                height: 100%;
                display: flex;
                flex-direction: column;
                margin-bottom: 10px;
                align-items: center;
                width: 100%;
            ">
                <div class="signIn_form">
                    <TextInputField Label="@SignInLabelResources.LOGIN_FIELD_LABEL"
                                @bind-InputValue="_signInFormVM.Login" />
                    <PasswordInputField Label="@SignInLabelResources.PWD_FIELD_LABEL"
                                    @bind-InputValue="_signInFormVM.Password" />
                </div>
                <div class="signIn_buttonsPanel">
                    <MainButton Label="@SignInLabelResources.SIGN_IN_BTN_LABEL"
                            IsPrimary="true"
                            Type="submit" />
                    <MainButton Label="@SignInLabelResources.PWD_FORGOTTEN_BTN_LABEL" />
                </div>
                <Prompt
                    ErrorMessageListerner="@ErrorMessage"
                    IsProcessingListener="@_isProcessing"
                    IsProcessSuccessListener="@_isProcessSuccess"
                    Width="100"/>
            </EditForm>
            <span class="signIn_container-app_version">@VersionResources.APP_VERSION</span>
        </div>
        <div class="signIn_borderRight">
            <img class="signIn_borderRight-logo" src="images/@_cardLeftRenderObject.IconFileName" />
            <span>@_cardLeftRenderObject.Value</span>
        </div>
    </div>
}
